.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
/_site/
.Rdata
.httr-oauth
.DS_Store
**/*.quarto_ipynb
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
